body {
  background: radial-gradient(circle, #000 60%, #020);
  color: #00ff9c;
  font-family: Consolas, monospace;
  text-align: center;
}

h1 {
  margin-top: 15px;
}

.warning {
  color: #ffae00;
  font-size: 12px;
}

button {
  background: #00ff9c;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
}

#terminal {
  margin: 20px auto;
  width: 92%;
  max-width: 900px;
  height: 420px;
  border: 1px solid #00ff9c;
  padding: 15px;
  overflow-y: auto;
  text-align: left;
  white-space: pre-wrap;
}
